html {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

header {
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

.head {
    color:black;
    padding: 4px;
}

.head:hover {
    color: grey;
    transition:.75s;
}

#logo {
    width: 103px;
    height: 23px;
    float: left;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#mailbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 12px;
    transition: 0.75s
}

#mailbutton:hover {
    background-color: #3e8e41;
    transition: 0.75s
}