body {
    background-color: #465362;
    margin: 0px;
    padding:0px;
    overflow: hidden;
}
/* align button to the right
add margin to the top and bottom
add a slight padding to the left and right
make button transparent
add color to the icon
remove border to the button */
#button {
    float: right;
    margin: 15px 30px 10px 0px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: #82A3A1;
    border: none;
    cursor: pointer; 
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
    display: none;
    transition: all 0.25s;
}

.menu-item {
    color:white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Roboto Mono", monospace;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
    user-select: none;
    background-color: transparent;
    border: none;
}

.menu-item > button {
    cursor: pointer;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(255,255,255,0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position:absolute;
    left:0px;
    top:0px;
    z-index: 1;

    transition: opacity 800ms ease,
                background-size 800ms ease; 
}

#menu:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

/* add margin and padding to the item
*/
#logo {
    font-family: 'Nabla', cursive;
    text-align: left;
    font-size:32px;
    cursor: pointer;
    user-select: none;
    margin: 15px 10px 10px 30px;
    padding: 5px 10px 5px 10px;
    
}

.contact_buttons {
  align-items: center;
  background-color: #82A3A1;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact_buttons:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.contact_buttons:hover:after {
  transform: translate(0, 0);
}

.contact_buttons:active {
  background-color: #9FC490;
  outline: 0;
}

.contact_buttons:hover {
  outline: 0;
}

@media (min-width: 768px) {
.contact_buttons {
    padding: 0 40px;
  }
}