body {
    background-color: rgb(20,20,20);
    margin: 0px;
    padding:0px;
    align-items: center;
}

#button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 80px;
    width: 100px;
    outline: none;
    padding: 0px;
}

#button.toggled {
    #icon {
        background-color: transparent;
    }
}
    
#icon {
    height: 10px;
    width: 100px;
    border-radius: 100px;
    background-color: blue;
    position: relative;
}
    
#icon:before, 
#icon:after {
        background-color: blue;
        border-radius: 100px;
        content: "";
        height: 10px;
        width:100px;
        left: 0px;
        position: absolute
}

#icon:before {
    top: -30px;
}

#icon:after {
    top: 30px;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color:white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Roboto Mono", monospace;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
    user-select: none;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(255,255,255,0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position:absolute;
    left:0px;
    top:0px;
    z-index: 1;

    transition: opacity 800ms ease,
                background-size 800ms ease; 
}

#menu:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#logo {
    font-family: 'Nabla', cursive;
    text-align: left;
    font-size:32px;
    cursor: pointer;
    user-select: none;
}